* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.modal {
  width: 100%;
  height: 100vh;
}

button:first-child {
  color: white;
  background-color: blue;
  border-radius: 0.3em;
  width: 170px;
  height: 37px;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

h2 {
  margin-top: 0.3em;
  font-size: 18px;
  font-weight: 400;
}

.dialog {
  color: black;
  font-weight: bold;
  position: fixed;
  background-color: white;
  margin-left: 45em;
  margin-top: 16em;
  width: 360px;
  height: 190px;
  border-radius: 0.3em;
  border: 1px solid black;
}

.survey {
  margin-top: 2em;
  text-align: center;
  font-weight: 700;
}

.response {
  color: white;
  background-color: red;
  border-radius: 0.3em;
  margin-left: 8em;
  margin-top: 1em;
  width: 90px;
  height: 40px;
  font-size: 18px;
}
