body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

p {
  font-size: 16px;
  padding: 0.99em;
}

img {
  width: 100%;
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-thirds {
  width: calc(200% / 3);
}
