* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 1000px;
}

.heading {
  display: flex;
  margin-top: 20px;
  margin-bottom: 60px;
  border-bottom: 0.1em solid #d6d6d6;
  height: 160px;
  width: 1100px;
}

.row-one {
  flex-basis: calc(100% / 2);
  height: 200px;
}

header > img {
  width: 100px;
  position: relative;
  top: 4rem;
  height: 120px;
}

ul {
  list-style: none;
  position: relative;
  top: 6rem;
  text-align: right;
  width: 500px;
  left: -3.5em;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #a6a2a2;
}

.button {
  background-color: #053c5e;
  color: white;
  border-radius: 0.25em;
  width: 7em;
  height: 2.5em;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  border: none;
}

.row-two {
  position: relative;
  background-color: grey;
  margin-bottom: 3.5em;
}

.row-two > img {
  object-fit: cover;
  opacity: 0.7;
  display: block;
  width: 100%;
}

.intro {
  color: white;
  position: absolute;
  top: 3em;
  left: 4em;
  width: 480px;
  height: 280px;
}

.intro > h2 {
  font-size: 33px;
  font-family: 'Tiempos Headline', serif;
  font-style: normal;
  font-weight: normal;
}

p {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.intro > p {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5em;
}

.get-started > input {
  position: absolute;
  background-color: #053c5e;
  color: white;
  border-radius: 0.25em;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  border: none;
  width: 170px;
  height: 50px;
  font-size: 17px;
  bottom: 7.5em;
  left: 3.5em;
}

.row-three {
  background-color: #f8f9fa;
  width: 1000px;
  height: 400px;
  border-bottom: 0.1em solid #d6d6d6;
}

.content-holder {
  width: 850px;
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
  color: #6f6866;
}

.sub-heading {
  text-align: center;
  margin: auto;
  height: 180px;
  width: 550px;
}

h3 {
  font-family: 'Tiempos Headline', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}

.sub-heading > p,
.learn > p {
  font-size: 14px;
}

.location {
  margin: auto;
  width: 301px;
}

.location > p {
  font-size: 16px;
}

.row-four {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  color: #6f6866;
}

.more > input {
  background-color: #053c5e;
  color: white;
  border-radius: 0.25em;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  border: none;
  width: 150px;
  height: 40px;
  font-size: 14px;
  position: relative;
  top: 1.5em;
}

.row-five {
  width: 1000px;
  margin: auto;
  display: flex;
  height: 300px;
  background-color: #585856;
  margin-top: 1.5em;
}

.address {
  width: 400px;
  position: relative;
  top: 5.5em;
  left: 3.5em;
}

.address > img {
  width: 110px;
  margin-bottom: 1.5em;
}

.address > p {
  font-size: 12px;
  line-height: 0.5em;
  color: white;
}

.links {
  width: 800px;
  display: flex;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

span > a {
  text-decoration: none;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #6f6866;
}

.links a {
  color: white;
}

.company {
  top: -2em;
  left: 6.5em;
}

.company,
.product {
  margin: auto;
  position: relative;
  color: white;
}

h5 {
  font-size: 15px;
  position: relative;
  bottom: -0.5em;
}

.row-six {
  width: 500px;
  display: flex;
}

footer {
  height: 65px;
  position: relative;
  top: 2.5em;
  left: 1.5em;
}
